.nav-wrapper {
  // display: flex;
  // justify-content: space-around;
  //align-items: center;
  width: 100vw;
  height: 100vh;
  //background-color: lightblue;
}

#nav-ul {
  list-style: none;
  width: 70%;
  display: flex;
  justify-content: flex-end;
  //margin-top: 10px;
}

.brand-logo {
  margin-top: -20px;
}
